body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
}
header{
  background-color: #4c5c5c;
  text-align: center;
  color: #ffffff;
  padding: 2em;
}
nav a {
  margin: 1em;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
   white-space: nowrap
}
.active{
  font-weight: bold;
  color: #4c5c5c;
  background-color: #ffffff;
}
h1 {
  font-size: 48px;
  font-weight: bold; 
}
main {
margin: 0 auto 0;
  padding: 2em;
  background-color: #deeded;
  max-width:950px;
}

h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

ol {
  font-size: 20px;  
}
ul {
  font-size: 20px;  
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%
}
.emlist {
  font-weight:bold;
}
.container h3 {
margin-top:0;  
}

.container {
  display: flex;
   margin: 1em;
  padding: 1em 1em 0em 0em;
   }
.container h3 {
margin-top:0;  
}
  
.portrait {
   padding: 1em;
   padding-top: 0;
  }
.portrait img{
   max-width: 150px;
  }

.participant p {
  font-size: 15px;
}

code {
  font-family: 'Courier New', monospace;
  display: block;
  background-color: #ffffff; 
  padding: 1em;
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

