body {
  background-color: #deeded; 
  font-family: Tahoma, sans-serif;
}

article {
  margin-left: 10vw; 
  margin-right: 10vw; 
}
header
{
    text-align: center;
padding: 2em;
}
​nav a {margin: 2em;}
h1 {
  font-size: 48px;
  font-weight: bold; 
}
h2 {
  font-size: 36px; 
}

p {
  font-size: 20px; 
}

ul {
  font-size: 20px; 
  list-style-type: square; 
}

code {
 font-family: 'Courier New', monospace; 
}

footer{
  text-align: center; 
}

.copyright {
  border-top: 1px solid black;
  display: flex;
  margin: auto;
  padding: 10px;
}

img.copyright_logo {
  width: 1vw;
  margin:.15vw;
}

.course-logo {
  width: 35vw;
}